<library path="interactive_script">
  <class name="interactive_script_plugin/InteractiveScriptGui" type="interactive_script_plugin::InteractiveScriptGui" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      An example C++ GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <label>Interactive Script</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
